<%= provide :title, t("messages.plural") %>

<div class="box box-primary">
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tr>
                <th><%=t "messages.labels.title" %></th>
                <th style="width:200px;"><%=t "helpers.actions" %></th>
            </tr>
            <% @messages.each do |message| %>
              <tr>
                <td><%= link_to message.title, message %></td>
                <td>
                  <%= render 'shared/edit_button', path: edit_message_path(message), small: true %>
                  <%= render 'shared/delete_button', path: message_path(message), small: true %>
                </td>
              </tr>
            <% end %>
        </table>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <%= link_to new_message_path, class: "btn btn-primary btn-flat" do %>
        <i class="fa fa-envelope"></i><%= t('messages.create') %>
      <% end %>
    </div>
</div><!-- /.box -->

