<div class="form-box" id="login-box">
  <div class="header">
    <%=t 'helpers.change_password' %>
  </div>
  <% flash.each do |key, message| %>
    <div class="callout callout-danger callout-signin">
      <%= content_tag :div, message %>
    </div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages_customed! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="body bg-gray">
      <div class="form-group">
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control",
            placeholder: t("organization_users.password") %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",
            placeholder: t("organization_users.password_confirmation") %>
      </div>
    </div>
    <div class="footer">
      <%= f.submit t("devise.passwords.reset_password"), class: "btn bg-olive btn-block" %></div>
    </div>
  <% end %>
</div>
