<!DOCTYPE html>
<html class="bg-black">
  <head>
    <title><%= full_title(yield :title) %></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "stylesheets/AdminLTE", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "javascripts/app", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="bg-black">
  <%= yield %>
  </body>
</html>